<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metyou.dao.CommissionRecordMapper">
  <resultMap id="BaseResultMap" type="com.metyou.pojo.CommissionRecord">
    <constructor>
      <arg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="staff_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="staff_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="order_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="operator" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="creator" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="creator_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="commission" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="note" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.metyou.pojo.CommissionRecord">
    insert into commission_record (id, staff_id, staff_name, 
      order_id, operator, creator, 
      creator_id, commission, create_time, 
      note)
    values (#{id,jdbcType=INTEGER}, #{staffId,jdbcType=INTEGER}, #{staffName,jdbcType=VARCHAR}, 
      #{orderId,jdbcType=INTEGER}, #{operator,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, 
      #{creatorId,jdbcType=INTEGER}, #{commission,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, 
      #{note,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.metyou.pojo.CommissionRecord">
    insert into commission_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="staffId != null">
        staff_id,
      </if>
      <if test="staffName != null">
        staff_name,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="operator != null">
        operator,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="creatorId != null">
        creator_id,
      </if>
      <if test="commission != null">
        commission,
      </if>
        create_time,
      <if test="note != null">
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="staffId != null">
        #{staffId,jdbcType=INTEGER},
      </if>
      <if test="staffName != null">
        #{staffName,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="commission != null">
        #{commission,jdbcType=DECIMAL},
      </if>
      now(),
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <select id="selectByOrderIdAndOperator" parameterType="map" resultType="int">
    select count(*) from commission_record where order_id = #{orderId} and operator = #{operator}
  </select>
  <select id="payedCalculate" parameterType="map" resultType="decimal">
    select sum(commission) from commission_record where staff_id = #{staffId} and operator = #{operator}
  </select>
</mapper>