<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metyou.dao.ScommodityMapper">
  <resultMap id="BaseResultMap" type="com.metyou.pojo.Scommodity">
    <constructor>
      <arg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="descr" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="commission" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="oldbuy" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="detail" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="headimg" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="prcie" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="status" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="note" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id,name,descr,commission, oldbuy, detail,headimg,prcie,status,create_time,note

  </sql>
  <insert id="insert" parameterType="com.metyou.pojo.Scommodity">
    insert into scommodity (id, name, descr,commission, oldbuy,
      detail, headimg, prcie, 
      status, create_time, note
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{descr,jdbcType=VARCHAR},
            #{commission,jdbcType=DECIMAL}, #{oldbuy,jdbcType=DECIMAL},
            #{detail,jdbcType=VARCHAR}, #{headimg,jdbcType=VARCHAR}, #{prcie,jdbcType=DECIMAL},
      #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{note,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.metyou.pojo.Scommodity">
    insert into scommodity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="descr != null">
        descr,
      </if>
        <if test="commission != null">
          commission,
        </if>
        <if test="oldbuy != null">
          oldbuy,
        </if>
      <if test="detail != null">
        detail,
      </if>
      <if test="headimg != null">
        headimg,
      </if>
      <if test="prcie != null">
        prcie,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="note != null">
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="descr != null">
        #{descr,jdbcType=VARCHAR},
      </if>
        <if test="commission != null">
          #{commission,jdbcType=DECIMAL},
        </if>
        <if test="oldbuy != null">
          #{oldbuy,jdbcType=DECIMAL},
        </if>
      <if test="detail != null">
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="headimg != null">
        #{headimg,jdbcType=VARCHAR},
      </if>
      <if test="prcie != null">
        #{prcie,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="selectByPrimaryKey" parameterType="int" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
        from scommodity
    where id = #{id}
  </select>
</mapper>